{% extends 'base.html' %}
{% block title %}
{{ page_title }}
{% endblock title %}
{% block content %}
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
            {% for f in furtEduc %}
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>{{f.result}} in {{f.course}} with {{f.company}} ({{f.achieved}})
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock content %}