{% extends 'base.html' %}
{% block title %}
{{ page_title }}
{% endblock title %}
{% block content %}
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        {% for w in workExp %}
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{ w.position }}</h3>
                <div class="subheading mb-3">{{ w.company }}</div>
                <p>{{ w.description}}</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">{{ w.dateStarted }} - {{ w.dateFinished}}</span></div>
        </div>
        {% endfor %}
       
    </div>
</section>
<hr class="m-0" />

{% endblock content %}