{% extends 'base.html' %}
{% block title %}
    About
{% endblock title %}
{% block content %}
    <h1>{{ page_title }}</h1>
    {% for member in about %}
    
    {% if loop.index % 2 != 0 %}
    <h3>{{ loop.index }}{{ member.name }}</h3>
    <p>{{member.description}}</p>
   {% else %}
  <h2>{{ loop.index }}{{ member.name }}</h2>
    <p>{{member.description}}</p>    {% endif %}
    
    {% if loop.index != loop.length%}
    <hr> <!-- Horizontal Rule -->
    {% endif %}
    {% endfor %}
{% endblock content %}