{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">Stephen <span class="text-primary">Jackson</span></h1>
        <div class="subheading mb-5">Located near Blackpool · 07776 839728 · <a href="mailto:jjackson19862017@gmail.com">jjackson19862017@gmail.com</a></div>
        <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/stephenjamesjackson/" target="_blank"><i class="fab fa-linkedin-in"></i></a><a class="social-icon" href="https://github.com/jjackson19862017" target="_blank"><i class="fab fa-github"></i></a><a class="social-icon" href="#"><i class="fab fa-twitter"></i></a><a class="social-icon" href="https://www.youtube.com/channel/UCZDFJ__Vu_ds0hzPoTPrmIQ/" target="_blank"><i class="fab fa-youtube-square"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />

<h1>{{ page_title }}</h1>
{% for lang in langKnow %}


<p>{{lang.Lang}}</p>


{% if loop.index != loop.length%}
<hr> <!-- Horizontal Rule -->
{% endif %}
{% endfor %}
{% endblock content %}