{% extends 'base.html' %}
{% block title %}
    My Projects
{% endblock title %}
{% block content %}
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">{{ page_title }}</h2>
        <h3 class="mb-0">Raspberry Pi Projects</i></h3>
        {% for pis in piProjects %}
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{ pis.build }}</h3>
                <div class="subheading mb-3">{{ pis.status }}</div>
                <div> {{pis.description}}</div>
            </div>
        </div>
        {% endfor %}
        <h3 class="mb-0">Programs &amp Applications</h3>
        {% for prog in programs %}
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{prog.programTitle}}</h3>
                <div class="subheading mb-3">Time taken to complete - {{prog.timeTaken}}</div>
                <div> {{prog.programDescription}}</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Finished -  {{prog.completed}}</span></div>
        </div>
        {% endfor %}
    </div>
</section>
<hr class="m-0" />
{% endblock content %}