{% extends 'base.html' %}
{% block title %}
{{ page_title }}
{% endblock title %}
{% block content %}
<section class="resume-section" id="skills">

    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="row">
            <div class="col-sm">
                <div class="subheading mb-3">Front End</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                    <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                    <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                    <li class="list-inline-item"><i class="fab fa-bootstrap"></i></li>

                </ul>
                <div class="subheading mb-3">Back End</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-linux"></i></li>
                    <li class="list-inline-item"><i class="fas fa-database"></i></li>
                    <li class="list-inline-item"><i class="fab fa-python"></i></li>
                </ul>
                <div class="subheading mb-3">Version Control</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-github"></i></li>
                </ul>
            </div>
            <div class="col-sm">
                <div class="subheading mb-3">Software</div>
                <ul class="fa-ul mb-3">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Visual Studio Code</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Slack</li>
                    <li><span class="fa-li"><i class="fas fa-lightbulb"></i></span>Xcode - (Learning)</li>
                    <li><span class="fa-li"><i class="fas fa-lightbulb"></i></span>Unity - (Learning)</li>
                </ul>

                <div class="subheading mb-3">Soft Skills</div>
                <ul class="fa-ul mb-3">
                    <li><span class="fa-li"><i class="fas fa-plus"></i></span>Customer Service</li>
                    <li><span class="fa-li"><i class="fas fa-plus"></i></span>Strong attention to detail</li>
                    <li><span class="fa-li"><i class="fas fa-plus"></i></span>Phone and email etiquette</li>
                    <li><span class="fa-li"><i class="fas fa-plus"></i></span>Work well under pressure</li>
                    <li><span class="fa-li"><i class="fas fa-plus"></i></span>Team worker</li>
                    <li><span class="fa-li"><i class="fas fa-plus"></i></span>Positive attitude</li>
                    <li><span class="fa-li"><i class="fas fa-plus"></i></span>Eager to learn</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<hr class="m-0" />

{% endblock content %}